<p>
    We are going to make a ride sharing app for IUTIANS. Here, those who use car for coming to IUT or
    going home from IUT can offer others a ride. For making sure that it is only for the IUTIANS, the
    user can only use their e-mail address provided by IUT.
    As our project is about IUT ride sharing, so there will be some basic features that any member under IUT can enjoy.
</p>
<p>Sign-In with IUT Gmail
IUT provides unique g-mail addresses to its each member, either teachers or students or stuffs.  So every member of IUT can enjoy this service. And for assuring securities, no non-iutian can’t access to this.
Plan a Trip
Any owner of private car can create a plan for trip. And he/she can share his/her ride with others.
Request a Trip
Any passenger can request a ride and can enjoy the service. From IUT to their living address or vice-versa can be possible.
Choose a Passenger</p>
<p>
An owner can choose passenger over his preference. He can share his ride with the preferable ones.
Choose a Ride
Same goes for a passenger. They can choose the ride over their preference.
Live Location
Both passenger and owner can have the live location feature. By using this they can easily know what the current location of the owner or passenger is. Destination also can be known by using this.

</p>
